<div class="home">
  <img class="home-img" src="../../assets/img/Screen Shot 2017-11-25 at 19.55.11.png" alt="sportsIng">
  <div class="text-on-image">
    <h1>Make Yourself Proud</h1>
  </div>
</div>

<div class="cards">
  <a class="card" routerLink="/lopen">
    <img class="card-img" src="../../assets/img/Screen Shot 2017-12-05 at 18.52.14.png" alt="lopen">
    <div class="container">
      <h4>Lopen</h4>
    </div>
  </a>
  <a class="card" routerLink="/zwemmen">
    <img class="card-img" src="../../assets/img/rsz_screen_shot_2017-12-05_at_191403.png" alt="zwemmen">
    <div class="container">
      <h4>Zwemmen</h4>
    </div>
  </a>
  <a class="card" routerLink="/fietsen">
    <img class="card-img" src="../../assets/img/rsz_screen_shot_2017-12-06_at_222154.jpg" alt="fietsen">
    <div class="container">
      <h4>Fietsen</h4>
    </div>
  </a>
</div>
