<div class="body">
    <div class="lZwemschema's">
      <h3>Zwemschema's</h3>
      <p>Hier kan je 3 verschillende Zwemschema's vinden, voor zowel beginners als voor mensen die al enige tijd aan het zwemmen
        zijn.
        <br> Deze vooropgestelde schema's helpen je om je doel binnen de 10 weken te bereiken. Succes!</p>
      <ul>
        <li>
          <a href="" download="zwemmen 250m">250m voor beginnende zwemmers</a> (.pdf)</li>
        <li>
          <a href="" download="zwemmen 1000m">1000m voor geoefende zwemmers</a> (.pdf)</li>
        <li>
          <a href="" download="zwemmen 2000m">2000m voor gevorderde zwemmers</a> (.pdf)</li>
      </ul>
    </div>
    <div class="container">
      <div class="niveaus">
        <div class="niveau beginners">
          <h3>Beginners</h3>
          <p>Het volgende schema is speciaal opgesteld voor beginnende zwemmers en zou u normaal
            <br> moeten toelaten in 10 weken 250 meter aan 1 stuk te laten zwemmen.</p>
          <ul>
            <li>
              <a href="" download="zwemmen 250m">250m voor beginnende zwemmers</a> (.pdf)</li>
          </ul>
        </div>
        <div class="niveau geoefenden">
          <h3>Geoefenden</h3>
          <p>Dit schema is opgesteld voor mensen die al enige ervaring hebben in het zwemmen.
            <br> Hiermee bedoelen wij mensen die het beginners schema succesvol volbracht hebben of
            <br> mensen die 20 minuten aan 1 stuk kunnen zwemmen.</p>
          <ul>
            <li>
              <a href="" download="zwemmen 1000m">1000m voor geoefende zwemmers</a> (.pdf)</li>
          </ul>
        </div>
        <div class="niveau gevorderden">
          <h3>Gevorderden</h3>
          <p>Ons laatste schema is gemaakt voor mensen die al ver gevorderd zijn in lopen.
            <br> Hier is de bedoeling dat je op een redelijk tempo 2000m kan zwemmen aan 1 stuk.
            <br> Gevorderden zijn mensen die gemakkelijk een half uur tot 3 kwartier aan 1 stuk kunnen zwemmen of die ons
            <br> schema voor geoefenden volbracht hebben.
          </p>
          <ul>
            <li>
              <a href="" download="zwemmen 2000m">2000m voor gevorderde zwemmers</a> (.pdf)</li>
          </ul>
        </div>
      </div>
      <div class="tips">
        <h3>tips</h3>
        <ul>
          <li> zoek een zwempartner</li>
          <li> maak van zwemmen een gewoonte</li>
          <li> begin met een makkelijke slag</li>
          <li> laat je niet ontmoedigen</li>
        </ul>
      </div>
    </div>
  </div>
  