<div class="body">
  <div class="loopschemas">
    <h3>Loopschema's</h3>
    <p>Hier kan je 3 verschillende loopschema's vinden, voor zowel beginners als voor mensen die al enige tijd aan het lopen
      zijn.
      <br> Deze vooropgestelde schema's helpen je om je doel binnen de 10 weken te bereiken. Succes!</p>
    <ul>
      <li><a href="" download="lopen 5km">5km voor beginnende lopers</a> (.pdf)</li>
      <li><a href="" download="lopen 10km">10km voor geoefende lopers</a> (.pdf)</li>
      <li><a href="" download="lopen 20km">20km voor gevorderde lopers</a> (.pdf)</li>
    </ul>
  </div>
  <div class="niveaus">
    <div class="niveau beginners">
      <h3>Beginners</h3>
      <p>Het volgende schema is speciaal opgesteld voor beginnende lopers en zou u normaal <br> moeten toelaten in 10 weken 5 kilometer
        aan een stuk te doen lopen.</p>
      <ul>
        <li><a href="" download="lopen 5km">5km voor beginnende lopers</a> (.pdf)</li>
      </ul>
    </div>
    <div class="niveau geoefenden">
      <h3>Geoefenden</h3>
      <p>Dit schema is opgesteld voor mensen die al enige ervaring hebben in het lopen. <br>
        Hiermee bedoelen wij mensen die het beginners schema succesvol volbracht hebben of <br> mensen die 30 tot 40 minuten aan 1 stuk kunnen lopen.</p>
      <ul>
        <li><a href="" download="lopen 10km">10km voor geoefende lopers</a> (.pdf)</li>
      </ul>
    </div>
    <div class="niveau gevorderden">
      <h3>Gevorderden</h3>
      <p>Ons laatste schema is gemaakt voor mensen die al ver gevorderd zijn in lopen. <br>
        Hier is de bedoeling dat je op een redelijk tempo 20 km kan lopen aan 1 stuk. <br>
        Gevorderden zijn mensen die gemakkelijk 1 uur aan stuk kunnen lopen of die ons <br> schema voor geoefenden volbracht hebben.
      </p>
      <ul>
        <li><a href="" download="lopen 20km">20km voor gevorderde lopers</a> (.pdf)</li>
      </ul>
    </div>
  </div>
</div>
