.body {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    .container {
        .niveaus {
            .niveau {
                margin-top: 30px;
            }
           
        }
        margin-bottom: 75px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #4682B4;
}