<div class="body">
  <div class="fietsschema's">
    <img class="wielrennen" src="../../assets/img/Screen Shot 2017-12-06 at 22.49.15.png" alt="fietsen">
    <h3>Fietsschema's</h3>
    <p>Hier vind je 3 verschillende fietsschema's, zowel voor beginners als voor mensen die al enige tijd aan het zwemmen zijn.
      <br> Deze vooropgestelde schema's helpen je om je doel binnen de 10 weken te bereiken. Succes!</p>
    <ul>
      <li>
        <a href="../../assets/fietsschemas/0tot50trainingsschema.xls" download="fietsen 50km">50km voor beginnende fietsers</a> (.xls)</li>
      <li>
        <a href="../../assets/fietsschemas/0tot75trainingsschema.xls" download="fietsen 75km">75km voor geoefende fietsers</a> (.xls)</li>
      <li>
        <a href="../../assets/fietsschemas/0tot100trainingsschema.xls" download="fietsen 100km">100km voor gevorderde fietsers</a> (.xls)</li>
    </ul>
  </div>
  <div class="container">
    <div class="niveaus">
      <div class="niveau beginners">
        <h3>Beginners</h3>
        <p>Het volgende schema is speciaal opgesteld voor beginnende fietsers en zou u normaal
          <br> moeten toelaten in 10 weken tijd 50km aan 1 stuk te laten fietsen.</p>
        <ul>
          <li>
            <a href="../../assets/fietsschemas/0tot50trainingsschema.xls" download="fietsen 50km">50km voor beginnende fietsers</a> (.xls)</li>
        </ul>
      </div>
      <div class="niveau geoefenden">
        <h3>Geoefenden</h3>
        <p>Dit schema is opgesteld voor mensen die al enige ervaring hebben in het fietsen.
          <br> Hiermee bedoelen wij mensen die het beginners schema succesvol volbracht hebben of
          <br> mensen die 2 uur op een gewoon tempo kunnen fietsen.</p>
        <ul>
          <li>
            <a href="../../assets/fietsschemas/0tot75trainingsschema.xls" download="fietsen 75km">75km voor geoefende fietsers</a> (.xls)</li>
        </ul>
      </div>
      <div class="niveau gevorderden">
        <h3>Gevorderden</h3>
        <p>Ons laatste schema is gemaakt voor mensen die al ver gevorderd zijn in het fietsen.
          <br> Hier is de bedoeling dat je op een redelijk tempo 100km kan rijden.
          <br> Gevorderden zijn mensen die gemakkelijk 2 tot 3 uur aan 1 stuk kunnen fietsen of die ons
          <br> schema voor geoefenden volbracht hebben.
        </p>
        <ul>
          <li>
            <a href="../../assets/fietsschemas/0tot100trainingsschema.xls" download="fietsen 100km">100km voor gevorderde fietsers</a> (.xls)</li>
        </ul>
      </div>
    </div>
    <div class="tips">
      <h3>tips</h3>
      <ul>
        <li> zoek een team op jouw tempo</li>
        <li> maak van fietsen een gewoonte</li>
        <li> begin op een rustig tempo</li>
        <li> laat je niet ontmoedigen</li>
      </ul>
    </div>
  </div>
</div>
