<div class="navigation">
  <a class="navigation-item logo" routerLink="">
    <img class="logo-img" src="../../../assets/img/Screen Shot 2017-11-25 at 18.52.07.png" alt="logo">
    <h1>sport-a-holic</h1>
  </a>
  <div class="navigation-item">
    <div class="dropdown">
      <div class="menu">
        <i class="material-icons">menu</i>
        <h2>menu</h2>
      </div>
      <div class="sporten">
        <a class="links" href="">home</a>
        <a class="links" href="lopen">lopen</a>
        <a class="links" href="zwemmen">zwemmen</a>
        <a class="links" href="fietsen">fietsen</a>
      </div>
    </div>
    <div class="logInButton" id="buttons">
      <a routerLink="/login" class="btn lightblue">Aanmelden</a>
    </div>
    <div class="registerButton" id="buttons">
      <a routerLink="/register" class="btn lightblue">Registreer</a>
    </div>
  </div>
</div>
