<div class="navigation">
  <a class="navigation-item logo" routerLink="">
    <img class="logo-img" src="../../../assets/img/Screen Shot 2017-11-25 at 18.52.07.png" alt="logo">
    <h1>sport-a-holic</h1>
  </a>
  <div class="navigation-item">
    <div class="dropdown">
      <div class="menu">
        <i class="material-icons">menu</i>
        <h2>menu</h2>
      </div>
      <div class="sporten">
        <a class="links" href="">home</a>
        <ng-container *ngFor="let sport of sports | async">
          <div *ngIf="!sport._newSport">
            <a class="links" href="{{sport._name}}">{{sport._name}}</a>
          </div>
        </ng-container>
        <a *ngIf="(currentUser | async)" class="links" href="calender">calender</a>
      </div>
    </div>
    <div *ngIf="(currentUser | async) else loginLink" class="flex">
      <div class="logOutButton" id="buttons">
        <a (click)="logout()" class="btn lightblue">Afmelden</a>
      </div>
      <h2>{{currentUser|async}}</h2>
    </div>
    <ng-template #loginLink>
      <div class="logInButton" id="buttons">
        <a routerLink="/login" class="btn lightblue">Aanmelden</a>
      </div>
      <div class="registerButton" id="buttons">
        <a routerLink="/register" class="btn lightblue">Registreer</a>
      </div>
    </ng-template>  
  </div>
</div>
