<div class="navigation">
  <a class="navigation-item logo">
    <img class="logo-img" src="../../../assets/img/Screen Shot 2017-11-25 at 18.52.07.png" alt="logo">
    <h1>sport-a-holic</h1>
  </a>
  <div class="navigation-item">
    <div class="dropdown">
      <div class="menu">
          <i class="material-icons">menu</i>
          <h2>menu</h2>
      </div>
      <div class="sporten">
        <a href="#">lopen</a>
        <a href="#">zwemmen</a>
        <a href="#">badminton</a>
      </div>
    </div>
    <div class="logInButton" id="buttons">
        <a class="btn lightblue">Log in</a>
      </div>
  </div>
</div>
